<div class="container">
    <ng-container *ngIf="listCaddy">
        <table class=" table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>PRIX</th>
                    <th>QUANTITE</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let training of listCaddy">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.price}}</td>
                    <td>{{training.quantity}}</td>
                    <td></td>
                    <td> <a class="btn btn-danger"(click)="onDeleteTraining(training)">Supprimer</a></td>
                </tr>

                <tr>
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td>{{listTotal}}</td>
                </tr>

                <br>

                <a class="btn btn-success"(click)="onCommand()">Commander</a>
               
                

            </tbody>

        </table>
    </ng-container>
</div>
